<!doctype html>
<html>

<head>
    <title>Teaching</title>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Inconsolata:400,700|Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <header class="hdr">
        <ul class="hdr-list">
            <li class="hdr-list-item"><a href="#internet" class=" hdr-link internet">Internet</a></li>

            <li class="hdr-list-item"><a href="#html" class="hdr-link html">HTML</a></li>

            <li class="hdr-list-item"><a href="#css" class="hdr-link css">CSS</a></li>
            <li class="hdr-list-item"><a href="mailto:me@georgenishimura.com?subject=[UTC]" target="_blank" class="link hdr-link email">Email Me!</a></li>
        </ul>
    </header>
    <section id="internet" class="internet chapter-section first">
        <div class="section-mod">
            <h2 class="chapter-title">The Internet</h2>
            <div class="chapter-subsection">
                <h3 class="chapter-subtitle">Resources</h3>
                <ul>
                    <li><a class="link" target="_blank" href="https://docs.google.com/presentation/d/1ha1LIERGQXzGxaFtAPvKzZVHkh_wzKZ92Q95nYI_Kbo/edit?usp=sharing">Notes Slides</a>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    {% include 'views/html/index.html' %}
    {% include 'views/css/index.html' %}
</body>

</html>
