<!doctype html>
<html>

<head>
    <title>Teaching</title>
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic|Inconsolata:400,700|Oxygen:400,700,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>
    <section class="chapter-section">
        <h2 class="chapter-title">HTML</h2>
        <div class="chapter-subsection">
            <h3 class="chapter-subtitle">Resources</h3>
            <ul>
                <li><a class="link" target="_blank" href="https://docs.google.com/presentation/d/1ik1CjmTG8OmJWU2jQtATzfCvw-aAokN1uqrfNB4w9oc/edit?usp=sharing">Notes Slides</a>
                </li>
                <li><a class="link" target="_blank" href="https://docs.google.com/presentation/d/1nSLTPdZXetd4dJTQLidkX1bw07q4py_gSSWgGbO0AmI/edit?usp=sharing">Tutorial Slides</a>
                </li>
            </ul>
        </div>
        <div class="examples-mod chapter-subsection">
            <h3 class="chapter-subtitle">Examples</h3>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="simple-table">1) Structural Elements</a>
                </header>
                <ul class="example-list">
                    <li><code>&lt;doctype&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5/Introduction_to_HTML5" target="_blank">info</a>
                    </li>
                    <li><code>&lt;html&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/html" target="_blank">info</a>
                    </li>
                    <li><code>&lt;head&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/head" target="_blank">info</a>
                    </li>
                    <li><code>&lt;body&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/body" target="_blank">info</a>
                    </li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="simple-table">2) Head Elements</a>
                </header>
                <ul class="example-list">
                    <li><code>&lt;title&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/title" target="_blank">info</a>
                    </li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="simple-table">3) Media Elements</a>
                </header>
                <ul class="example-list">
                    <li><code>&lt;img&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img" target="_blank">info</a>
                    </li>
                    <li><code>&lt;audio&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/audio" target="_blank">info</a>
                    </li>
                    <li><code>&lt;video&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/video" target="_blank">info</a>
                    </li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="simple-table">4) Text Elements</a>
                </header>
                <ul class="example-list">
                    <li><code>&lt;p&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/p" target="_blank">Info</a>
                    </li>
                    <li><code>&lt;h1&gt; to &lt;h6&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/Heading_Elements" target="_blank">Info</a>
                    </li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="simple-table">5) List Elements</a>
                </header>
                <ul class="example-list">
                    <li><code>&lt;ul&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ul" target="_blank">info</a>
                    </li>
                    <li><code>&lt;ol&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/ol" target="_blank">info</a>
                    </li>
                    <li><code>&lt;li&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/li" target="_blank">info</a>
                    </li>
                    <li><code>&lt;dl&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dl" target="_blank">info</a>
                    </li>
                    <li><code>&lt;dt&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dt" target="_blank">info</a>
                    </li>
                    <li><code>&lt;dd&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/dd" target="_blank">info</a>
                    </li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="simple-table">6) Form Elements</a>
                </header>
                <ul class="example-list">
                    <li><code>&lt;form&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form" target="_blank">info</a>
                    </li>
                    <li><code>&lt;fieldset&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/fieldset" target="_blank">info</a>
                    </li>
                    <li><code>&lt;legend&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/legend" target="_blank">info</a>
                    </li>
                    <li><code>&lt;input&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input" target="_blank">info</a>
                    </li>
                    <li><code>&lt;label&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/label" target="_blank">info</a>
                    </li>
                    <li><code>&lt;select&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/select" target="_blank">info</a>
                    </li>
                    <li><code>&lt;br&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/br" target="_blank">info</a>
                    </li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="simple-table">7) Table Elements</a>
                </header>
                <ul class="example-list">
                    <li><code>&lt;table&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/table" target="_blank">info</a>
                    </li>
                    <li><code>&lt;tr&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/tr" target="_blank">info</a>
                    </li>
                    <li><code>&lt;th&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/th" target="_blank">info</a>
                    </li>
                    <li><code>&lt;td&gt;</code> - <a class="info link" href="https://developer.mozilla.org/en-US/docs/Web/HTML/Element/td" target="_blank">info</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="tasks-mod chapter-subsection">
            <h3 class="chapter-subtitle">Tasks</h3>
            <ol>
                <li><a class="task link" href="simple-task1">Creating the Document</a>
                </li>
                <li><a class="task link" href="simple-task2">Adding the Summary</a>
                </li>
                <li><a class="task link" href="simple-task3">Adding Sections</a>
                </li>
                <li><a class="task link" href="simple-task4">Adding the Info Table</a>
                </li>
                <li><a class="task link" href="simple-task5">Adding a Footer</a>
                </li>
                <li><a class="task link" href="simple-task6">Adding the Table of Contents</a>
                </li>
            </ol>
        </div>
    </section>
</body>

</html>
