<section id="css" class="chapter-section css">
    <div class="section-mod">
        <h2 class="chapter-title">CSS</h2>
        <div class="chapter-subsection">
            <h3 class="chapter-subtitle">Resources</h3>
            <ul>
                <li><a class="link" target="_blank" href="https://docs.google.com/presentation/d/1hybBitHYEif885JN6-ntYKyTaloL11-99yi3gW3TOXA/edit?usp=sharing">Notes Slides</a>
                </li>
                <li><a class="link" target="_blank" href="https://docs.google.com/presentation/d/1f8nCcDL1I_eg8JMDwCp6dYl74shL1qZ6pZsv7wLgcho/edit?usp=sharing">Tutorial Slides</a>
                </li>
            </ul>
        </div>
        <div class="examples-mod chapter-subsection">
            <h3 class="chapter-subtitle">Examples</h3>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="css/display">1) Display</a>
                </header>
                <ul class="example-list">
                    <li><code>display</code>
                    </li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="css/position">2) Position</a>
                </header>
                <ul class="example-list">
                    <li><code>position</code></li>
                    <li><code>top</code></li>
                    <li><code>left</code></li>
                    <li><code>bottom</code></li>
                    <li><code>right</code></li>

                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="css/spacing">3) Spacing</a>
                </header>
                <ul class="example-list">
                    <li><code>padding-top</code></li>
                    <li><code>padding-left</code></li>
                    <li><code>padding-bottom</code></li>
                    <li><code>padding-right</code></li>
                    <li><code>margin-top</code></li>
                    <li><code>margin-left</code></li>
                    <li><code>margin-bottom</code></li>
                    <li><code>margin-right</code></li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="css/text">4) Text</a>
                </header>
                <ul class="example-list">
                    <li><code>font-size</code></li>
                    <li><code>font-family</code></li>
                    <li><code>color</code></li>
                    <li><code>font-style</code></li>
                    <li><code>font-weight</code></li>
                    <li><code>text-decoration</code></li>
                </ul>
            </div>
            <div class="example-box">
                <header class="example-header"><a class="example link" href="css/border">5) Border</a>
                </header>
                <ul class="example-list">
                    <li><code>border</code></li>
                    <li><code>border-radius</code></li>
                </ul>
            </div>
            <div class="tasks-mod chapter-subsection">
            <h3 class="chapter-subtitle">Tasks</h3>
            <ol>
                <li><a class="task link" href="css/task1">Styling the Text</a>
                </li>
                <li><a class="task link" href="css/task2">Spacing</a>
                </li>
                <li><a class="task link" href="css/task3">Sizing the Footer Image</a>
                </li>
            </ol>
        </div>
        </div>
    </div>
</section>
