<!doctype>
<html>

<head>
<title>Royal Greenwich UTC - Wichipedia</title>
<style>
.hdr {
  border-bottom: groove 1px black;
  font-weight: normal;
}
.section-txt {
  font-family: sans-serif;
}
.container {
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
}
.wichi-section {
	margin-bottom: 40px;
}
</style>
</head>

<body class="container">
<h1 class="hdr">Royal Greenwich UTC</h1>

<p>Royal Greenwich UTC is a university technical college which opened in the New Charlton area of the Royal Borough of Greenwich in London, England in September 2013.</p>

<table>
<tr>
<th colspan="2">
Royal Greenwich UTC
</th>
</tr>
<tr><td >Established</td><td>2013</td></tr>
<tr><td >Type</td><td>University Technical College</td></tr>
<tr><td >Principal</td><td>Mike Sharp</td></tr>
<tr><td >Postcode</td><td>SE7 8LW</td></tr>
</table>

<div>
<h4 >Contents</h4>
<ol>
<li>
<a href="#sponsors">Sponsors</a>
</li>
<li>
<a href="#admissions">Admissions</a>
</li>
<li>
<a href="#curriculum">Curriculum</a>
</li>
<li>
<a href="#external-links">External Links</a>
</li>
</ol>
</div>

<section class="wichi-section" id="sponsors">
<h2 class="hdr">Sponsors</h2>
<p class="section-txt">The University of Greenwich is the lead university sponsor of the UTC. Other sponsors include Transport for London, Wates Group and Greenwich London Borough Council. The curriculum of the UTC is structured around a series of business projects developed by the sponsors.</p>
</section>
<section  class="wichi-section" id="admissions">
<h2 class="hdr">Admissions</h2>
<p class="section-txt">Royal Greenwich UTC had an initial intake of students aged 14 and 16 in 2013, but will expand to accommodate students aged 14 to 19 over the following two years.</p>
</section>
<section  class="wichi-section" id="curriculum">
<h2 class="hdr">Curriculum</h2>
<p class="section-txt">Royal Greenwich UTC specialises in engineering and construction with underpinning themes of transport and new green technologies.</p>
</section>
<section  class="wichi-section" id="external-links">
<h2 class="hdr">External Links</h2>
<p class="section-txt"><a href="http://greenwichutc.com/">Royal Greenwich UTC Website</a></p>
</section>
<footer>
<img src="http://greenwichutc.com/images/UTC_RBG-LogoTran.png" alt="Royal Greenwich UTC logo" />
</footer>
</body>

</html>
