<!doctype>
<html>

<head>
    <title>Simple Tables</title>
</head>

<body>

    <form action="" method="post">
       <input type="hidden" value="this is a hidden value">
        <fieldset>
            <legend>
                This is a legend for a fieldset
            </legend>
            <label for="text">Textbox:</label>
            <input id="text" type="text">
        </fieldset>
        <br/>
        <fieldset>
            <legend>Email/Password Inputs</legend>
            <label for="email">Email: </label>
            <input type="email" id="email">
            <label for="password">Password: </label>
            <input type="password" id="password">
        </fieldset>
        <br/><br/>
        <label for="color">Color Input:</label>
        <input name="color" type="color">
        <br/><br/>
        <label for="date">Date Input:</label>
        <input name="date" type="date">
        <br/><br/>
        <label for="file">File Input:</label>
        <input name="file" type="file">
        <br/><br/>
        <label for="select">Select Input:</label>
        <select id="select">
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
        </select>
        <br/><br/>
         <fieldset>
            <legend>
                Radio
            </legend>
            <label for="radio1">Option 1</label>
            <input type="radio" id="radio1" checked value="Option 1" name="radio">
            <label for="radio2">Option 2</label>
            <input type="radio" id="radio2" value="Option 2" name="radio">
        </fieldset>
        <br/>
        <fieldset>
            <legend>
                Checkbox Input
            </legend>
            <label for="checkbox1">Option 1</label>
            <input type="checkbox" id="checkbox1" value="Option 1" name="checkbox">
            <label for="checkbox2">Option 2</label>
            <input type="checkbox" id="checkbox2" value="Option 2" name="checkbox">
        </fieldset>
        <br/>
        <button>Button</button>
        <input type="reset" value="Reset">
        <input type="submit" value="Save">
    </form>
</body>

</html>
